@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  background-color: #2f2f2f;
  cursor: default;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

footer {
  padding-top: 50px;
  padding-bottom: 15px;
  color: grey;
  margin-top: auto;
}

footer a {
  color: #6d95ed;
  text-decoration: none;
}
