@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  background-color: #eeedec;
  cursor: default;
  letter-spacing: 0.2em;
  font-size: 0.8em;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

footer {
  color: grey;
  margin-top: auto;
  letter-spacing: normal;
  font-size: 1.2em;
  padding-bottom: 20px;
}

footer a {
  color: #6d95ed;
  text-decoration: none;
}

.container {
  max-width: 400px;
}

.change-location {
  padding: 30px;
}

.icon {
  position: relative;
  top: -50px;
  border-radius: 50%;
  width: 100px;
  margin-bottom: -50px;
}

.list-group {
  position: absolute;
  z-index: 1;
  width: 310px;
  cursor: pointer;
}

form {
  width: 100%;
}
